*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/bot/.venv
/bot/__pycache__
/dashboard/dist
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/private/google-sa.json
/storage/pail
/vendor
*.tsbuildinfo
/database/*.sqlite
/database/*.sqlite-journal
Homestead.json
Homestead.yaml
Thumbs.db

# playwright
/playwright-report/
/test-results/
/blob-report/
