<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing" force="true"/>
        <env name="APP_DEBUG" value="true" force="true"/>
        <env name="APP_URL" value="http://127.0.0.1" force="true"/>
        <env name="APP_KEY" value="base64:2fl+KTV4dIgNcFS6/76PcTAmAm8J+OKRm8K01CnRm2w="/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="BROADCAST_CONNECTION" value="null"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="sqlite" force="true"/>
        <env name="DB_DATABASE" value=":memory:" force="true"/>
        <env name="DB_HOST" value="127.0.0.1" force="true"/>
        <env name="DB_PORT" value="0" force="true"/>
        <env name="DB_USERNAME" value="testing" force="true"/>
        <env name="DB_PASSWORD" value="testing" force="true"/>
        <env name="DB_URL" value="" force="true"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="NIGHTWATCH_ENABLED" value="false"/>
        <env name="N8N_WEBHOOK_URL" value=""/>
        <env name="N8N_WEBHOOK_SECRET" value="change-me"/>
        <env name="TELEGRAM_BOT_SECRET" value="change-me-bot"/>
        <env name="TELEGRAM_BOT_TOKEN" value=""/>
        <env name="TELEGRAM_STAFF_BOT_TOKEN" value=""/>
        <env name="TELEGRAM_STAFF_BOT_SECRET" value="change-me-staff"/>
        <env name="TELEGRAM_ADMIN_BOT_SECRET" value="change-me-admin"/>
        <env name="TELEGRAM_ADMIN_IDS" value=""/>
        <env name="TELEGRAM_STAFF_CHAT_ID" value=""/>
        <env name="ODOO_ENABLED" value="false"/>
        <env name="ODOO_USE_JSON2" value="false"/>
        <env name="ODOO_URL" value=""/>
        <env name="CLICKUP_TOKEN" value=""/>
        <env name="GOOGLE_API_KEY" value="test-key"/>
        <env name="FACEBOOK_ACCESS_TOKEN" value=""/>
        <env name="FACEBOOK_APP_ID" value=""/>
        <env name="FACEBOOK_APP_SECRET" value=""/>
        <env name="THREADS_ACCESS_TOKEN" value=""/>
        <env name="THREADS_APP_ID" value=""/>
        <env name="THREADS_APP_SECRET" value=""/>
        <env name="THREADS_REDIRECT_URI" value="https://hoc.agency/auth/threads/callback"/>
        <env name="THREADS_DASHBOARD_URL" value="https://hoc.agency/staff/social/accounts"/>
    </php>
</phpunit>
