TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_SECRET=
TELEGRAM_STAFF_BOT_TOKEN=
TELEGRAM_STAFF_BOT_SECRET=
TELEGRAM_ADMIN_BOT_TOKEN=
TELEGRAM_ADMIN_BOT_SECRET=change-me-admin
TELEGRAM_ADMIN_IDS=
HOC_API_URL=http://127.0.0.1:8000/api
TELEGRAM_PROXY=
TELEGRAM_WEBHOOK_URL=
